---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' -%}
{%- include header.html scrolly_nav=_posts -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
    {%- if page.cover-photo != "" -%}
        {%- include blogpost.html photo=page.cover-photo photo-alt=page.cover-photo-alt -%}
	{%- endif -%}
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.name -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>